extends layout

block content
  h1.title Hello World
  ul
    - for post in contentful.posts
      li
        header
            if post.link
                a(href='#{post.link}')= post.title
            else
                div= post.title

