doctype html
doctype html
html.main
    include ./includes/_head.jade
    body
        h1.title Matthew Hillman
        ul
            li
                a(href='https://matt.hillman.pictures') Pictures
            li
                a(href='/blog') Blog

    script(src='/js/main.js')
