doctype html
html
    include ./includes/_head.jade
    body
        div.container
            include ./includes/_nav.jade
            main
                block content

        script(src='/js/main.js')
